extends head

block body
    header
        #header-hamburger-icon.hamburger-icon
            span
            span
            span
        #header-links
            a(href='/') Home
                .underline
            a(href='/shop') Shop
                .underline
            a(href='/orders') Orders
                .underline
            a(href='/tab') Tab
                .underline
            a.invisible(href='/pets') Pets
                .underline
            a(href='/details') Details
                .underline
            a(href='/admin' style=`display: ${displays.admin.true.flex}`) Admin
                .underline
        .account
            p.grams.invisible(src=user.picture style=`display: ${displays.signedIn.true.block}`) #{user.grams}gz
            a.primary(href='/signin' style=`display: ${displays.signedIn.false.block}`) Sign In
            button.primary(onclick='signOut(); location.href = "/"' style=`display: ${displays.signedIn.true.block}`) Sign Out
            img.picture(onclick='location.href = "/details"' src=user.picture style=`display: ${displays.signedIn.true.block}`)

        script.
            let selectedLink = {
                '/': 0,
                '/shop': 1,
                '/orders': 2,
                '/tab': 3,
                '/pets': 4,
                '/details': 5,
                '/admin': 6
            }[location.pathname]

            if (selectedLink != null) byId('header-links').children[selectedLink].classList.add('selected')

            const headerHamburgerIcon = byId('header-hamburger-icon')
            headerHamburgerIcon.addEventListener('click', () => {
                if (headerHamburgerIcon.classList.contains('active')) {
                    headerHamburgerIcon.classList.remove('active')
                } else {
                    headerHamburgerIcon.classList.add('active')
                }
            })

    .header-spacer

    #links-sidebar
        a(href='/') Home
        a(href='/shop') Shop
        a(href='/orders') Orders
        a(href='/tab') Tab
        a.invisible(href='/pets') Pets
        a(href='/details') Details
        a(href='/admin' style=`display: ${displays.admin.true.flex}`) Admin

        script.
            let _sidebarVisible = false

            byId('header-hamburger-icon').addEventListener('click', () => {
                _sidebarVisible = !_sidebarVisible

                if (_sidebarVisible) {
                    byId('links-sidebar').classList.add('visible')
                } else {
                    byId('links-sidebar').classList.remove('visible')
                }
            })

    ._content-container
        block content

    footer
        a(href='/privacy-policy') Privacy Policy
        p &copy 2024 <a class='font-small' href='/'>Simply Fudged</a>