extends head

block body
    header
        #header-hamburger-icon.hamburger-icon
            span
            span
            span
        #header-links
            a(href='/') Home
                .underline
            a(href='/shop') Shop
                .underline
            a(href='/orders') Orders
                .underline
            a(href='/tab') Tab
                .underline
            a(href='/pets') Pets
                .underline
            a(href='/details') Details
                .underline
        .account
            p.grams(src=user.picture style=`display: ${displays.signedIn.true.block}`) #{user.grams}g
            a.primary(href='signin' style=`display: ${displays.signedIn.false.block}`) Sign In
            button.primary(onclick='signOut(); location.href = "/"' style=`display: ${displays.signedIn.true.block}`) Sign Out
            img.picture(onclick='location.href = "/details"' src=user.picture style=`display: ${displays.signedIn.true.block}`)

        script.
            let selectedLink = {
                '/': 0,
                '/shop': 1,
                '/orders': 2,
                '/tab': 3,
                '/pets': 4,
                '/details': 5
            }[location.pathname]

            if (selectedLink != null) byId('header-links').children[selectedLink].classList.add('selected')

            const headerHamburgerIcon = byId('header-hamburger-icon')
            headerHamburgerIcon.addEventListener('click', () => {
                if (headerHamburgerIcon.classList.contains('active')) {
                    headerHamburgerIcon.classList.remove('active')
                } else {
                    headerHamburgerIcon.classList.add('active')
                }
            })

    .header-spacer
    
    block content